.flex-container {
    display: flex;
    border: 1px solid black;
    border-radius: 16px;
    padding: 32px;
    flex-wrap: wrap;
    gap: 16px;
}

.flex-container > div {
    width: 32%;
    border: 1px solid gray;
    padding: 16px;
}

img {
    width: 300px;
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: lavender;
}

footer > div {
    width: 20%;
}